@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");
/* browser reset code */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}
button,
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 62.5%;
}

body {
  background-color: black;
}

/* shared styling */
.container {
  max-width: 1060px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}

button {
  border-radius: 42px;
  background: rgb(230, 83, 60);
}
.primary-button {
  padding: 15px 40px;
}
.nav-btn {
  padding: 8px 20px;
}

.primary-color {
  color: rgb(230, 83, 60);
}
.primary-paragraph {
  color: rgba(255, 255, 255, 0.5);

  font-size: 1.4rem;
  line-height: 25px;
  letter-spacing: 0.6px;
  margin: 15px 0 30px 0;
}

header {
  padding: 50px 0 70px 0;

  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

.nav-title {
  font-size: 3.5rem;
  font-weight: 800;
}

.desktop-nav {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;

  gap: 45px;
  padding: 10px 12px;
}
.nav-list li a {
  font-size: 1.8rem;
  color: white;
}
.nav-list li .home-button {
  padding: 8px 20px;
  border-radius: 45px;
  background: rgb(230, 83, 60);
  font-weight: 600;
}
.mobile-nav {
  display: none;
}
.mobile-nav a i {
  font-size: 3rem;
  color: #fff;
}
.mobile-nav h1 {
  font-size: 3rem;
  font-weight: 800;
}

@media screen and (max-width: 576px) {
  header {
    padding: 25px 20px;
  }
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop-nav {
    display: none;
  }
}

/* banner section styling */
/* main {
  padding: 0 20px;
  position: relative;
} */
.banner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 550px;
  color: white;
}
.banner-content > h1 {
  font-size: 7.5rem;
  font-weight: 900;
  line-height: 1.2;
}
.banner-content > h1 span {
  font-family: "Miama";
  font-style: italic;
  font-weight: 400;
  font-size: 1.2em;
}
.banner-content > p {
  margin: 25px 0;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;

  font-size: 1.6rem;
}
.button-container {
  display: flex;
  gap: 5px;
}
.button-container > button {
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
}

.banner-img {
  position: relative;
}
.banner-img > div {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
}
.banner-img .video-info {
  position: absolute;
  top: 120px;
  right: -70px;
  backdrop-filter: blur(20px);
}

.banner-img .video-info h3 {
  font-size: 4rem;
  font-weight: 900;
  color: white;
}
.banner-img .video-info p {
  font-size: 1.3rem;
  margin: 5px 0;
  color: rgba(255, 255, 255, 0.65);
}
.banner-img .video-info-2 {
  position: absolute;
  left: -120px;
  bottom: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  backdrop-filter: blur(20px);
}
.banner-img .video-info-2 .rounded-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
}

.banner-img .video-info-2 .inner-content h4 {
  color: rgb(250, 250, 249);

  font-size: 2.4rem;
  font-weight: 900;
}

.banner-img .video-info-2 .inner-content p {
  color: rgba(239, 237, 232, 0.65);

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 576px) {
  .banner-section {
    flex-direction: column;
    padding-top: 50px;
    align-items: stretch;
    gap: 30px;
  }

  .banner-content > h1 {
    font-size: 3.5rem;
    max-width: 50%;
  }

  .banner-content > p {
    margin: 25px 0;
    max-width: 60%;
  }

  .banner-img .video-info {
    width: 130px;
    padding: 10px;
    top: 50px;
    right: 50px;
  }
  .banner-img .video-info-2 {
    left: 10px;
    bottom: 42%;
  }

  .banner-img .video-info-2 .inner-content h4 {
    font-size: 1.4rem;
  }

  .banner-img .video-info-2 .inner-content p {
    font-size: 1.2rem;
  }

  .banner-img .video-info h3 {
    font-size: 3rem;
  }
  .banner-img .video-info p {
    font-size: 1rem;
  }
  .banner-img {
    flex-basis: 100%;
  }

  .button-container > button {
    font-size: 1.4rem;
    padding: 10px 20px;
  }
}

/* habit section styling */

.habit-section {
  margin: 100px 0;

  color: white;
  text-align: center;
}
.habit-section > h2 {
  font-size: 4.8rem;
  font-weight: 900;
}
.habit-section .fitness-description {
  font-size: 1.4rem;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
}
.gym-info {
  display: flex;
  align-items: center;
  gap: 35px;

  margin-top: 50px;
}

.gym-info .gym-person h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 8px 0;
}
.gym-info .gym-person img {
  margin: 0 auto;
  border-radius: 50%;
}

@media screen and (max-width: 576px) {
  main {
    padding: 0 20px;
  }
  .habit-section {
    margin: 10px 0;
  }

  .habit-section > h2 {
    font-size: 3rem;
    font-weight: 900;
  }

  .gym-info {
    flex-direction: column;
    margin-top: 30px;
  }
  .gym-info .gym-person {
    width: 60%;
  }
}

.extra-mile {
  color: white;
  border-radius: 18px;

  background: rgb(34, 34, 34);
  padding: 40px 50px;
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 50px;
}
.extra-mile-content {
  flex-basis: 50%;
}
.extra-mile-content > h1 {
  font-size: 4.8rem;
  font-weight: 900;
}

.extra-mile-content button {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}

.extra-mile-img {
  flex-basis: 50%;
}
.extra-mile-img img {
  border-radius: 18px;
}
@media screen and (max-width: 576px) {
  .extra-mile {
    padding: 30px 35px;
    flex-direction: column;
    margin: 30px 0;
    gap: 30px;
  }

  .extra-mile-content > h1 {
    font-size: 3.2rem;
  }

  .extra-mile-content button {
    display: block;
    width: 100%;
  }

  .extra-mile-img {
    flex: 1;
  }
}
/* table section styling */

.bmi-section {
  background: rgb(34, 34, 34);

  color: #fff;
  padding: 50px 0;
  text-align: center;
}
.bmi-header {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.7px;
}
.bmi-container {
  display: flex;
  gap: 40px;
}
.table {
  border-collapse: collapse;
  margin-top: 50px;
}
.table th,
td {
  padding: 12px 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.table th {
  font-size: 1.6rem;
  font-weight: 500;
}

.table td {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
}
.calculator-header {
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0.7px;
}
.table-container {
  flex: 1;
}
.form-calculator {
  flex-basis: 54%;
}
.form-input {
  margin-bottom: 12px;
}
.form-input input,
select {
  padding: 12px 20px;
  border-radius: 8px;

  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
  margin-right: 12px;
  width: 46%;
  border: none;
  outline: none;
}

.form-button {
  color: white;
  margin-right: 100%;
}

.bm-form {
  padding: 0 12px;
}
.full-width > select {
  width: calc(100% - 30px);
}

@media screen and (max-width: 576px) {
  .bmi-section {
    margin: 0 -20px;
  }
  .bmi-section > p {
    width: 80%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.3px;
  }
  .bmi-container {
    flex-direction: column;
    gap: 30px;
  }
  .bmi-header {
    font-size: 3rem;
  }
  .table-container {
    width: 100%;
    margin-left: 20px;
  }
  .form-calculator {
    width: 100%;
  }

  .calculator-header {
    font-size: 2.2rem;
  }
  .form-calculator > p {
    font-size: 1.2rem;
    line-height: 20px;
    letter-spacing: 0.3px;
  }
  .form-input {
    margin: 0;
  }
  .form-input input,
  select {
    width: 45%;
    margin-bottom: 12px;
  }
}

/* team section styling */

.team-section {
  padding: 85px 0;
  color: white;
  text-align: center;
}
.team-section > h1 {
  font-size: 4.8rem;
  font-weight: 900;
}

.instructor-section {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 18px;

  background: rgba(255, 255, 255, 0.1);
}

.trainers {
  width: 320px;
  height: 265px;

  position: relative;
}
.trainers::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
}
.trainers > img {
  width: 100%;
  border-radius: 18px;
  height: 100%;
  object-fit: cover;
}
.trainers-intro {
  position: absolute;
  bottom: 20px;
  left: 15px;
}
.trainers-intro h1 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.trainers-intro span {
  font-size: 1.4rem;
  color: rgba(239, 237, 232, 0.65);
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .team-section > h1 {
    font-size: 3.2rem;
  }
  .trainers {
    width: 100%;
  }
  #trainer-5 {
    display: none;
  }
  #trainer-6 {
    display: none;
  }
}

/* memebership section styling */
.membership-section {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  padding: 85px 0;
}

.membership-header {
  font-size: 6rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.membership-box {
  padding: 20px 30px;
  border-radius: 8px;
}
.membership-box-0 {
  background-color: #f6f5f3;
}
#membership-box-1 {
  background-color: #e3ff04;
}
.membership-box > h1 {
  font-size: 3.5rem;
  padding-bottom: 24px;
  border-bottom: 2px solid #0a0c00;
}
.membership-box > h3 {
  font-size: 2.4rem;
  margin: 20px 0;
  text-transform: uppercase;
}
.membership-box > p {
  font-size: 1.8rem;
  color: rgb(10, 12, 0);
}
.what-we-offer {
  margin: 20px 0 60px 0;
}
.what-we-offer > li {
  margin-bottom: 20px;
}
.what-we-offer > li a {
  font-size: 1.8rem;
  color: rgb(10, 12, 0);
  margin-left: 12px;
}
.what-we-offer > li i {
  font-size: 1.8rem;
}


.choose-btn {
  padding: 20px 30px;
  background-color: #023047; /* Initial background color (dark blue) */
  font-size: 2.8rem;
  font-weight: 600;
  color: #ffffff; /* Initial text color (white) */
  border-radius: 10px;
  margin-top: 60px;
  display: block;
  text-align: center;
  
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.choose-btn::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  background-color: #ffb703; /* Hover background color (golden yellow) */
  z-index: -1;
}

.choose-btn:hover::before {
  transform: translateX(100%);
}

.choose-btn:hover {
  color: #023047; 
}




@media screen and (max-width: 576px) {
  .membership-section {
    grid-template-columns: 1fr;
    padding: 35px 0;
  }
  .membership-header {
    font-size: 2.5rem;
    text-wrap: wrap;
  }
  .choose-btn {
    padding: 15px 25px;

    font-size: 2rem;
  }
}

/* footer section styling */

footer {
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.grid-container {
  display: grid;
  padding: 65px 75px;
  grid-template-columns: 450px 1fr 1fr;
  gap: 50px;
}
.horizontal-bar {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-head {
  color: rgb(230, 83, 60);

  font-size: 7rem;
  font-weight: 800;
  line-height: 1.2;
  font-style: italic;
}
.secondary-footer {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
}
.footer-list {
  margin-top: 30px;
}
.footer-list li {
  margin-bottom: 20px;
}
.footer-list li a {
  color: rgba(255, 255, 255, 0.5);

  font-size: 2.3rem;
}
.footer-paragraph {
  padding: 35px 0;
  color: rgba(255, 255, 255, 0.5);

  font-size: 2rem;

  line-height: 24px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
